{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">
    /**
     * Page scoped variables
     */
    var rcMap; // init after document is ready
    var points = [];
    var isResultsDivHidden = true;
    var map;
    var lat, lng;

    var lastAddedMarker;

    /**
     * Initialize the map
     */
    $(document).ready(function () {
        rcMap = RC.map("mapDiv");

		var bikeParkingSpots = [];

        map = rcMap.getLeafletMap();

		map.on('click', function(e) {

	    	lat = e.latlng["lat"];
	    	lng = e.latlng["lng"];

	    	$("#details-form").dialog("open");

	    	$( "#details-form" ).on( "dialogclose", function( event, ui ) {

		    	}
	    	);
		});


        var bikeParkingTypes = ["Rack", "Corral", "Design Rack", "Pole", "Tree", "Fence"];

        for (var i = 0; i < bikeParkingTypes.length; i++)
        {
            $("#parkingType")
                .append($("<option></option>")
                .attr("value", bikeParkingTypes[i])
                .text(bikeParkingTypes[i]));
        }

        $("#details-form").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "Ok": function() {
                    $(this).dialog("close");
                    var length = bikeParkingSpots.length;
		    		var id = length + 1;

		    		bikeParkingSpots[length] = {"id": id, "lat": lat, "lng": lng};
		    		lastAddedMarker = L.marker([lat, lng], {icon: RC.Pins.Parking}).bindPopup(id.toString()).addTo(map);

                    $.post("/services/location", {
                        latitude: lat,
                        longitude: lng,
                        name: $('#name').val(),
                        description: $('#description').val(),
                        capacity_type: $('#capacity').val(),
                        location_type: $('#parkingType').val()

                    });

                    // TODO this is where it should submit the location to the server
                },
                "Cancel": function() {
                    $(this).dialog("close");
                    // TODO Remove added pin
                    return false;
                }
            }
        });

        $("#easeOfUse").raty({
            score: 1,
            starOn: "/static/images/star-on.png",
            starOff: "/static/images/star-off.png"
        });

        $("#safety").raty({
            score: 1,
            starOn: "/static/images/star-on.png",
            starOff: "/static/images/star-off.png"
        });




    });

    /**
     * Search for properties with SEARCH_RADIUS of
     * the address in #streetAddressInput
     */
    function search() {
        clearLocations();

        // Get street address from form
        var streetAddress = $("#streetAddressInput").val();
        if (streetAddress == '') {
            return;
        }

        // Clear the map
        rcMap.clearLayers();
        points = [];

        // Geocode the street address and add nearby locations to map
        //      Dev Note: Logic is a little hairy, because geocoding is asynchronous //TODO make less complicated by making geocoding synchronous
        rcMap.markNearbyLocations(streetAddress, function (searchPoint, nearbyPoints) {
            points = nearbyPoints;

            // Nearby Points / Search Results
            if (points.length > 0) {
                addSearchResultsTable();
            }
            else {
                $('#resultTable').append('<div id="resultsNoneFound">No vacant properties found near that address. (If the map appears in the wrong place, we could not locate the address)</div>');
            }

            //$('#resultDiv').show();
            $(document.body).animate({'scrollTop': $('#mapDiv').offset().top});
        });
    }

    function addSearchResultsTable() {
        var resultsHtml = makeSearchResultsHeaderRow();
        for (var i = 0; i < points.length; i++) {
            resultsHtml += makeSearchResultRow(i);
        }

        $('#resultTable').append(resultsHtml);
    }

    function makeSearchResultsHeaderRow() {
        var headerRowHtml = '<div class="tableHeaderRow">';
        headerRowHtml += '<div class="tableHeaderCell">Address</div>';
        headerRowHtml += '<div class="tableHeaderCell">Description</div>';
        headerRowHtml += '<div class="tableHeaderCell centeredText">See on Map</div>';
        headerRowHtml += '<div class="tableHeaderCell centeredText">View Details</div>';
        headerRowHtml += '</div>';

        return headerRowHtml;
    }

    //TODO document
    function makeSearchResultRow(index) {

        var isOdd = (index % 2) != 0;
        var resultHtml = '<div class="tableRow ' + (isOdd ? 'tableRowOdd' : '' ) + '">';


        // Address
        resultHtml += '<div class="tableCell addressText">';
        resultHtml += points[index].properties.address;
        resultHtml += '</div>';

        // Description
        resultHtml += '<div class="tableCell">';
        resultHtml += points[index].properties.description;
        resultHtml += '</div>';

        // Focus map
        resultHtml += '<div class="tableCell centeredText">';
        resultHtml += '<span class="clickableText" onclick="focusMap(' + index + ')">Map</span>';
        resultHtml += '</div>';

        // View details
        resultHtml += '<div class="tableCell centeredText">';
        resultHtml += '<a href="/location/' + points[index].properties.id + '">View Details</a>';
        resultHtml += '</div>';

        resultHtml += '</div>';

        return resultHtml;
    }

    function focusMap(index) {
        rcMap.focus(points[index], 18);
        $(document.body).animate({'scrollTop': $('#mapDiv').offset().top});
    }

    // ------ ADD ------
    /**
     *
     * @param streetAddress
     */
    function findLocations() {
        var streetAddress = $('#streetAddressInput').val();

        // TODO add a searching/loading layer

        // Clear the map and table
        clearLocations();

        makeAddResultsHeader();

        var addPointIndex = 0;
        rcMap.markPotentialLocations(streetAddress, makeAddInDataLocationRow, makeAddNotInDataLocationRow,
                function () {
                    //finished

                    if(points.length > 0) {
                        //$('#resultDiv').show();
                        $(document.body).animate({'scrollTop': $('#mapDiv').offset().top});
                        rcMap.focus(points[0]);
                    }
                }
        );
    }

    /**
     *
     */
    function clearLocations() {
        rcMap.clearLayers();
        $('#resultDiv').css('display', 'none');
        $('#resultDiv .tableHeaderRow').remove(); // TODO make the headers static in the HTML, just show/hide them
        $('#resultDiv .tableRow').remove();
        $('#resultDiv #resultsNoneFound').remove();
        points = [];
    }

    function makeAddResultsHeader() {
        var headerRowHtml = '<div class="tableHeaderRow">';
        headerRowHtml += '<div class="tableHeaderCell">Address/Description</div>';
        headerRowHtml += '<div class="tableHeaderCell centeredText">See on Map</div>';
        headerRowHtml += '<div class="tableHeaderCell centeredText">Add or View</div>';
        headerRowHtml += '</div>';

        $('#resultTable').append(headerRowHtml);

        return headerRowHtml;
    }

    function makeAddInDataLocationRow(point) {
        var index = points.length;
        points.push(point);

        var rowHtml = '<div class="tableRow">' +
                        '<div class="tableCell addressText">' + point.properties.address + '</div>' +
                        '<div class="tableCell centeredText"><span class="clickableText" onclick="focusMap(' + index + ')">Map</span></div>' +
                        '<div class="tableCell centeredText"><a href="/location/' + point.properties.id + '">View Location</a></div>'
                ;

        rcMap.addMarker(point) //TODO This references Leaflet code directly  -- see if this can be abstracted
                .bindPopup("<span class='addressText'>" + point.properties.address + "</span><br><a href='/location/" + point.properties.id + "'>View Details</a>", {offset: L.point(0, -60)});

        $('#resultTable').append(rowHtml);

        return rowHtml;
    }

    function makeAddNotInDataLocationRow(point) {
        var index = points.length;
        point.properties.address = $("#streetAddressInput").val(); //needed for TAMU geocoder, since address isn't in results -- this passes data to the add screen
        points.push(point);

        var rowHtml = '<div class="tableRow">' +
                        '<div class="tableCell">(Not Yet Added Location)</div>' +
                        '<div class="tableCell centeredText"><span class="clickableText" onclick="focusMap(' + index + ')">Map</span></div>' +
                        '<div class="tableCell centeredText">' + makeAddLocationLink(point) + '</div>'
                ;

        var marker = rcMap.addMarker(point)
                .bindPopup("Is this <span class='addressText'>" + point.properties.address + "</span>?<br>If so... " + makeAddLocationLink(point), {offset: L.point(0,-60)} );

        if(index == 0) {
            marker.openPopup();
        }

        $('#resultTable').append(rowHtml);

        return rowHtml;
    }

    function makeAddLocationLink(point) {
        var url = RC.Utils.addUrlParams("/add/location", {
            latitude: point.coordinates[0],
            longitude: point.coordinates[1],
            address: point.properties.address
        });

        return '<a href="' + url + '">Add Location</a>';
    }

    function showHideResultDiv() {
        if(isResultsDivHidden) {
            $('#resultDiv').show();
        }
        else {
            $('#resultDiv').hide();
        }

        isResultsDivHidden = !isResultsDivHidden;
    }


    </script>

    <link rel="stylesheet" href="/static/css/lib/jquery-ui.custom.css" />
	<link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery.raty.min.js"></script>
{% endblock %}

{% block content %}
    <div id="searchDiv">
        <p>
            <strong>INSTRUCTIONS</strong>&nbsp;
            Enter a street address (example: <em>1500 Chestnut St</em>).
        </p>

        <input id="streetAddressInput" type="text" value=""/>
        <input type="button" onclick="search()" value="Search"/>
        <!--<input type="button" onclick="findLocations()" value="Add"/>-->
        <a id="showHideResultDivLink" class="linkSpan" onclick="showHideResultDiv()">Show/Hide Results Table</a>
    </div>

    <div id="resultDiv">
        <div id="resultTable" class="table"></div>
    </div>

    <div id="mapDiv"></div>

	<div id="details-form">
	    <form>
	        <label for="name">Name</label>
	        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
	        <br />

            <label for="Description">Description</label>
	        <input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all" />
	        <br />

	        <label for="parkingType">Parking Type</label>
	        <select id="parkingType" name="parkingType" class="combobox"></select>
	        <br />

	        <label for="easeOfUse">Ease of Use</label>
	        <div id="easeOfUse"></div>
	        <br />

	        <label for="safety">Safety</label>
	        <div id="safety"></div>
	        <br />

	        <label for="capacity">Capacity</label>
	        <select id="capacity" name="capacity" class="combobox">
	        	<option value="1">1 Bike</option>
	        	<option value="2">2 Bikes</option>
	        	<option value="more">Even More Bikes</option>
	        </select>
	    </form>
	</div>

{% endblock %}
