{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">

        // Page level variables
        var rcMap;
        var point = {
            type: "Point",
            coordinates: [{{ location.latitude }}, {{ location.longitude }}],
            properties: {
                type: "{{ location.type }}"
            }
        };

        $(document).ready(function () {
            rcMap = RC.map("mapDiv");

            $.getJSON("/services/theft?latitude={{ location.latitude }}&longitude={{ location.longitude }}", function(data, textStatus, jq){
               for(var i = 0; i < data.length; i++)
               {
                    rcMap.addMarker(data[i], RC.Pins.Theft);
               }
               rcMap.addMarker(point);
            });

            rcMap.focus(point, 18);
        });


    </script>

{% endblock header %}

{% block content %}

    <div class="viewRowDiv">
        <div class="viewColumnDiv">
            <div id="viewAddressKey" class="viewKey">Name</div>
            <div id="viewAddressValue" class="viewValue">{{ location.name }}</div>

            <div id="viewTypeKey" class="viewKey">Type</div>
            <div id="viewTypeValue" class="viewValue">
                {% if location.location_type == "rack" %}
                    Rack
                {% elif location.type == "res" %}
                    Residential
                {% elif location.type == "corral" %}
                    Corral
                {% elif location.type == "pole" %}
                    Pole
                {% elif location.type == "tree" %}
                    Tree
                {% elif location.type == "fence" %}
                    Fence
                {% else %}
                    (Unknown)
                {% endif %}
            </div>
        </div>
        <div class="viewColumnDiv">
            <div id="viewDescriptionKey" class="viewKey">Description</div>
            <div id="viewDescriptionValue" class="viewValue">
                {% if location.description %}
                    {{ location.description }}
                {% else %}
                    (Not provided)
                {% endif %}
            </div>
            <div  class="viewKey">Ease of Use</div>
            <div  class="viewValue">
                {% if location.ease_of_use %}
                    {{ location.ease_of_use }} / 5 stars
                {% else %}
                    (Unrated)
                {% endif %}
            </div>
            <div class="viewKey">Safety</div>
            <div class="viewValue">
                {% if location.safety %}
                    {{ location.safety }} / 5 stars
                {% else %}
                    (Unrated)
                {% endif %}
            </div>
            <div class="viewKey">Capacity</div>
            <div class="viewValue">
                {% if location.capacity %}
                    {{ location.capacity }} bikes
                {% else %}
                    (Unknown)
                {% endif %}
            </div>
        </div>
        <div class="viewColumnDiv">
            <div id="viewPictureKey" class="viewKey">Picture</div>
            <div id="viewPictureValue" class="viewValue">
                {% if location.picture %}
                    <a href="/media/{{ location.picture }}">
                        <img src="/media/{{ location.picture }}" alt="Property picture">
                    </a>
                {% endif %}
                {% if not location.picture %}
                    (Not provided) <!--TODO Add a filler picture to indicate nothing has been loaded -->
                {% endif %}
            </div>
        </div>

        <div id="viewEditLinkDiv">
            <a href="/update/location/{{ location.id }}">
                <button>Edit Location</button>
            </a>
        </div>
    </div>

    <div id="mapDiv"></div>

{% endblock content %}